/* Mūsų visos naudojamos spalvos
#22B573 - žalia
#FFFFFF - balta 
#807182 - pilka*/

/* ------------------------------Global START------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
}

button {
  border: none;
}

.red {
  background-color: red;
}
/* ------------------------------Global END------------------------------ */

/* ------------------------------Navigation CSS start------------------------------ */
#navbar-container {
  display: flex;
  width: 95%;
  margin: auto;
  background-color: red;
}

#navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse;
}
#navbar-logo-container h1 {
}
#navbar-logo-image-container {
}

/* ------------------------------Navigation CSS END------------------------------ */

/* ------------------------------SearchBar CSS START------------------------------ */

/* ------------------------------SearchBar CSS END------------------------------ */
/* SearchBar CSS START */
.searchbar-container {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
}

.searchbar-container p {
  flex-basis: 100%;
}
#searchbar-input-container {
  display: flex;
  flex-basis: 70%;
}
#searchbar-input-container input {
  flex-basis: 100%;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
}
#searchbar-dropbox-container {
  display: flex;
  flex-basis: 20%;
  margin-left: 20px;
}
#searchbar-dropbox-container #dropbox {
  flex-basis: 75%;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
}

/* ------------------------------TestBlock CSS START------------------------------ */

/*main konteineris*/
.container-test-block {
  display: flex;
  flex-flow: row wrap;
}

.testblock-container {
  flex-basis: 35%;
  position: relative;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
}

.testblock-container h2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.02em;
}

.testblock-container p {
  width: 80%;
  margin: auto;

  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
  opacity: 0.5;
}

.testblock-button-container {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin-bottom: 15px;
}

/* Perdaryti */
#main-button {
  width: 112px;
  height: 37px;
  left: 22px;
  top: 259px;

  background: #22b573;
  border-color: #22b573;
  border-radius: 4px;
  color: white;

  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

#extra-button {
  width: 112px;
  height: 37px;
  left: 156px;
  top: 259px;

  background: #ffffff;
  border: 1px solid #22b573;
  border-radius: 4px;
  color: #22b573;

  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.testblock-image-container {
  width: 100%;
}

.testblock-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 0px 0px;
}

.testblock-image-container-avatar {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.testblock-image-container-avatar img {
  flex-basis: 20%;
  height: auto;
}
.testblock-image-container-avatar h3 {
  flex-basis: 80%;
  font-size: 12px;
  color: red;
}

.testblock-labels-question-container {
  width: 50px;
  background-color: #22b573;
  border-radius: 0px 0px 7px 7px;
}
.testblock-labels-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40%;
  height: 50px;
}
/* ------------------------------TestBlock CSS END------------------------------ */
